/* Reset basic style */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFDFEF; /* pink background */
    font-family: 'Open Sans', sans-serif;
}

.container {
    text-align: center;
}

img {
    height: 200px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 20px 0;
    color: #db2777;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, background-color 0.2s;
}

#yes-btn {
    background-color: #90AB8B;
}

#yes-btn:hover {
    background-color: #5A7863;
    transform: scale(1.10); /*Slight grow on hover*/
}

#no-btn {
    background-color: #BF4646;
}

#no-btn:hover {
    background-color: #b91c1c;
    transform: scale(0.9); /*Slight shrink on hover*/
}

.hidden {
    display: none;
}

