/* Reset basic style */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    min-height: 100vh;
    background-image: url('../assets/wallpaper.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

.container {
    text-align: center;
}

img {
    height: 200px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 20px 0;
    color: #fea0b3;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, background-color 0.2s;
}

#yes-btn {
    background-color: #90AB8B;
}

#yes-btn:hover {
    background-color: #5A7863;
    transform: scale(1.05); /*Slight grow on hover*/
}

#no-btn {
    background-color: #BF4646;
}

#no-btn:hover {
    background-color: #b91c1c;
    transform: scale(0.95); /*Slight shrink on hover*/
}

.hidden {
    display: none;
}

body.success-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/us.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: background 0.5s ease-in-out;
}

#success-screen a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

#success-screen a:hover {
    color:#fea0b3;
}

#success-screen h1 {
    color: #fff8f7;
}
